# Copyright (c) 2022 Laczen
#
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "SBootKit configuration"

menu "SBootKit settings"

config SBK
	bool "Enable sBootKit"

config SBK_TINYCRYPT
        bool "Enable tinycrypt"

endmenu

source "Kconfig.zephyr"